/** Layered  image of village banner **/
.landing-page {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.landing-page .text-wrapper {
  color: #edf7fc;
  font-family: "Kameron", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 43px;
  text-align: center;
  
}

.landing-page .p {
  color: #00425a;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 17.9px;
  position: relative;
  text-align: center;
  top: 50px;
  white-space: nowrap;
}

.landing-page .text-wrapper-2 {
  color: #00425a;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 3em;
  position: relative;
  text-align: center;
  top: 351px;
  white-space: nowrap;
  background: #ffffffe3;
  border-radius: 2em;
}

.landing-page .login-form {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 360px;
}

.landing-page .input {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
}

.landing-page .frame {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e9ecef;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 18px;
  padding: 15px 20px;
  position: relative;
  width: 311px;
}

.landing-page .icon-instance-node {
  height: 24px;
  position: relative ;
  width: 24px;
}


.landing-page .email-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  position: relative;
}

.landing-page .text-wrapper-3 {
  align-self: stretch;
  font-family: "Oxygen", sans-serif;
  font-size: 13px;
  position: relative;
}

.landing-page .text-wrapper-4 {
  align-self: stretch;
  color: #8b8b8b;
  font-family: "Oxygen", sans-serif;
  font-size: 13px;
  position: relative;
  border: hidden;
}

.text-wrapper-4:focus {
  outline: none; 
}


.landing-page .email-wrapper {
  all: unset;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  gap: 18px;
  justify-content: center;
  padding: 10px;
  position: relative;
  }

.landing-page .text-wrapper-5 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.landing-page .button-instance {
  background-color: #00425a !important;
  display: flex !important;
  height: 35px !important;
  justify-content: unset !important;
  left: 30px !important;
  position: absolute !important;
  top: 663px !important;
  width: 311px !important;
}

.landing-page .button-2 {
  height: 24px !important;
  margin-bottom: -6.5px !important;
  margin-top: -6.5px !important;
  position: relative !important;
  width: 24px !important;
}
