/** Layered  image of village banner **/
.landing-page {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}


.landing-page .text-wrapper {
  color: #00425a;
  font-family: 'Marcellus', serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  top: 43px;
  text-align: center;

}

.landing-page .p {
  color: #00425a;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 17.9px;
  position: relative;
  text-align: center;
  top: 50px;
  white-space: nowrap;
}

.landing-page .overlap-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
  
}


.landing-page .text-wrapper-2 {
  color: #00425a;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3em;
  text-align: center;
  white-space: nowrap;
  background: #ffffffe3;
  border-radius: 2em;
  
}

.landing-page .login-form {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 4%;
 
}

.landing-page .input {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  
}

.landing-page .frame {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e9ecef;
  border-radius: 8px;
  display: flex;
  flex: 0 0 auto;
  gap: 18px;
  padding: 15px 20px;
  width: 356px;
}

.landing-page .icon-instance-node {
  height: 24px;
  width: 24px;
}


.landing-page .email-2 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
 }

.landing-page .text-wrapper-3 {
  align-self: stretch;
  font-family: "Oxygen", sans-serif;
  font-size: 13px;
 }

.landing-page .text-wrapper-4 {
  align-self: stretch;
  color: #8b8b8b;
  font-family: "Oxygen", sans-serif;
  font-size: 13px;
  border: hidden;
}

.text-wrapper-4:focus {
  outline: none;
}


.landing-page .email-wrapper {
  all: unset;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  gap: 18px;
  justify-content: center;
  padding: 10px;
 
}

.landing-page .text-wrapper-5 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Oxygen", sans-serif;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}

.landing-page .button-instance {

  display: flex;
   width: 356px;
   margin-top: 3%;
   font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
}



@media (max-width: 600px) {
  /* Adjust top property for screens up to 600px wide */
  .landing-page .overlap-group {
    top: 150px;
  }
  #subheading-for-signup{
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  /* Adjust top property for screens between 601px and 900px wide */
  .landing-page .overlap-group {
    top: 200px;
  }
}

@media (min-width: 901px) {
  /* Adjust top property for screens wider than 900px */
  .landing-page .overlap-group {
    top: 370px;
  }
}