div.pageFrame>h1 {
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: #00425a;
  font-size: 2rem;
  /* font-family: Marcellus, serif; */
  padding-top: 3%
}

.request-card {
  padding: 3%;
  display: flex;
  justify-content: space-between
}

.request-card .req-info {
  width: 85%;
  
}